<div class="signup-page">
    <div class="signup-container">
      <div class="signup-header">Create Account</div>
      <div class="signup-form">
        <form [formGroup]="signupForm">
          <div class="username">
            <label for="userName">User Name:</label>
            <input type="text" id="userName" formControlName="userName" autocomplete="off">
            @if(signupForm.get('userName')?.invalid && (signupForm.get('userName')?.touched || signupForm.get('userName')?.dirty)) {
                <div class="error">
                    @if(signupForm.get('userName')?.errors?.['required']) {
                        <small>User Name is required.</small>
                    }
                </div>
            }
          </div>
          <div class="email">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" autocomplete="off">
            @if(signupForm.get('email')?.invalid && (signupForm.get('email')?.touched || signupForm.get('email')?.dirty)){
                <div class="error">
                    @if(signupForm.get('email')?.errors?.["required"]){
                        <small>Email is required.</small>
                    }
                    @if(signupForm.get('email')?.errors?.['email']){
                        <small>Please enter a valid email.</small>
                    }
                </div>
            }
          </div>
          <div class="password">
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password">
            @if(signupForm.get('password')?.invalid && (signupForm.get('password')?.touched || signupForm.get('password')?.dirty)){
                <div class="error">
                    @if(signupForm.get('password')?.errors?.['required']){
                        <small>Password is required.</small>
                    }
                    @if(signupForm.get('password')?.errors?.['minlength']){
                        <small>Password must be at least 8 characters long.</small>
                    }
                </div>
            }
          </div>
        </form>
        <div class="actions">
          <button class="signup-button" [disabled]="signupForm.invalid" (click)="signUp()">Sign Up</button>
          <div class="login-prompt">
            <span class="login-text">Already have an account?</span>
            <button class="login-btn" (click)="goToLogin()">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  