.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.login-header {
  font-size: xx-large;
  padding: 12px;
}

/* form and actions */
.login-form {
  display: grid;
  row-gap: 12px;
}

form {
  display: grid;
  row-gap: 12px;
}

.username,
.password {
  display: grid;
}

/* input  */
#userName, #password {
  width: 220px;
  padding: 10px;
  border-radius: 6px;
}

label {
  font-weight: 700;
}

.actions {
  display: flex;
  justify-content: end;
}

.login-button {
  background-color: #568203;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.login-button:disabled {
  opacity: 0.5;
}

.login-button:not(:disabled):hover {
  background-color:cadetblue;
}

