<div class="login-container">
    <div class="login-header">Please Log In</div>
    <div class="login-form">
      <form [formGroup]="loginForm">
        <div class="username">
          <label for="userName">User Name:</label>
          <input type="text" id="userName" formControlName="userName" autocomplete="off">
        </div>
        <div class="password">
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password">
        </div>
      </form>
      <div class="actions">
        <button [disabled]="loginForm.invalid" (click)="logIn()">login</button>
      </div>
    </div>
  </div>