.main-container {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 8px;
}

.navigation-bar {
    display: flex;
    justify-content: space-around;
    font-size: xx-large;
    border-bottom:  1px solid goldenrod;
}

.navigation-bar .navigation-link {
    cursor: pointer;
}

.navigation-bar .active {
    color: goldenrod;
}